<section id="about-wrap" class="body ui-box">
	<%= render 'pros/menu_account' %>
	
	<div id="content-account">
		<article class="row">
			<div class="promote-header">
				<h1>Modifiez votre service</h1>

			</div>

			<%= render 'pros/form_service' %>
			
		</article>
	</div>
</section>
