<section id="about-wrap" class="body ui-box">
	<div id="content-account">
		<article class="row">
			
			<div class="promote-header">
				<h1>Message</h1>
			</div>

			<%= render 'messages_nav' %>

			
		</article>
	</div>
</section>
