    <h2>Sent Messages</h2>

    <table border="1">
      <tr>
        <th>Subject</th>
        <th>Sent</th>
      </tr>

      <% for message in @requests %>
        <tr>
          <th><%= link_to h(message.subject), bids_url(message) %></th>
          <th><%= distance_of_time_in_words(message.created_at, Time.now) %></th>
        </tr>
      <% end %>
    </table>
