<section id="content" style=" min-width: 980px;">
	<section id="running-board-wrap">
		<div id="spootlight" class="body">
			<div class="ad-text">
				<div class="ad-h1">
					Trouvez rapidement un professionnel pr&egrave;s de chez vous
				</div >			
				<div class="ad-h2">Vous avec besoin d'un peintre, d'un photographe, d'un professeur, d'un patissier et bien d'autres services?</div>
				<a href="" class="button-orange">D&eacute;crivez votre besoin</a>
				<span class="ft">c'est gratuit</span>
			</div>
			<div class="ad-video">


			</div>
		</div><!-- /#spootlight -->
	</section>
	<section id="step" >
		<div class="body no-margin">
			<ul>
				<li><span>D&eacute;crivez et envoyez votre besoin</span>
					<img class="step-img" width="239" height="163" src="http://s3.amazonaws.com/choopro/states/etape-1.png" />
				</li>
				<li><span>Vous recevez des offres pas mail</span>
					<img class="step-img" width="187" height="153" src="http://s3.amazonaws.com/choopro/states/etape-2.png" />
				</li>
				<li><span>Vous choississez la meilleure proposition</span>
					<img class="step-img" width="182" height="95" src="http://s3.amazonaws.com/choopro/states/etape-3.png" />
				</li>
			</ul>
		</div>
	</section>
	
	<section id="attract-pro" >
		<div class="body">
			<h2 class="title-1"> Offrez vos services sur choopro et attirez de nouveaux clients 
					<a id="signupbutton" class="button-bleu"  href="">R&eacute;f&eacute;rencez vous gratuitement</a>
			<div class="clear"></div>
			</h2>
			<p> Choopro aide les professionnels digne de confiance &agrave; attirez de nouveaux clients. Le service fonctionne gr&acirc;ce &agrave; votre bo&icirc;te de r&eacute;ception, vous recevez des demandes venants des clients.</p><a href="" class="about-link"> D&eacute;couvrir les avantages de Choopro</a>
		</div>
	</section>
	<section id="general-info" >
	<div class="body">
		<div class="popular-services first-info">
			<h2 class="title-2">Les services les plus solicit&eacute;s</h2>			
			<ul class="col-a">
				<li>
				<a href="">Jardinier</a>
				</li>
				<li>
				<a href="">Electricien</a>
				</li>
				<li>
				<a href="">Menuisier</a>
				</li>
				<li>
				<a href="">Plombier</a>
				</li>
				<li>
				<a href="">Comptable</a>
				</li>
				<li>
				<a href="">Peintre</a>
				</li>
				<li>
				<a href="">Architecte</a>
				</li>
				<li>
				<a href="">M&eacute;chanicien automobile</a>
				</li>
				<li>
				<a href="">Couturier</a>
				</li>
				<li>
				<a href="">Patissier</a>
				</li>
				<li>
				<a href="">Photographe</a>
				</li>
				<li>
				<a href="">Wedding planer</a>
				</li>
				<li>
				<a href="">Chef cuisinier</a>
				</li>
			</ul>
			<ul class="col-b">
				<li>
				<a href="">Baby sister</a>
				</li>
				<li>
				<a href="">Coach sportif</a>
				</li>
				<li>
				<a href="">Professeur de cuisine</a>
				</li>
				<li>
				<a href="">professeur de clarinette</a>
				</li>
				<li>
				<a href="">Porfesseur de muisique</a>
				</li>
				<li>
				<a href="">Saxophoniste</a>
				</li>
				<li>
				<a href="">Pianiste</a>
				</li>
				<li>
				<a href="">Tromp&eacute;tiste</a>
				</li>
				<li>
				<a href="">Professeur de math</a>
				</li>
				<li>
				<a href="">Styliste</a>
				</li>
				<li>
				<a href="">Coiffeur</a>
				</li>
				<li>
				<a href="">DJ</a>
				</li>
				<li>
				<a href="">Organisateur d'&eacute;v&egrave;nement</a>
				</li>
			</ul>
		</div>
		<div class="popular-cities">
			<h2 class="title-2">Top des villes</h2>
			<ul >
				<li>
				<a href="">Paris</a>
				</li>
				<li>
				<a href="">Marseille</a>
				</li>
				<li>
				<a href="">Lyon</a>
				</li>
				<li>
				<a href="">Toulouse</a>
				</li>
				<li>
				<a href="">Nice</a>
				</li>
				<li>
				<a href="">Nantes</a>
				</li>
				<li>
				<a href="">Strasbourg</a>
				</li>
				<li>
				<a href="">Montpellier</a>
				</li>
				<li>
				<a href="">Bordeaux</a>
				</li>
				<li>
				<a href="">Rennes</a>
				</li>
				<li>
				<a href="">Saint-Etienne</a>
				</li>
				<li>
				<a href="">Grenoble</a>
				</li>
				<li>
				<a href="">Limoges</a>
				</li>
			</ul>
			<ul >
				<li>
				<a href="">Lille</a>
				</li>
				<li>
				<a href="">Amiens</a>
				</li>
				<li>
				<a href="">Colombes</a>
				</li>
				<li>
				<a href="">Asni&egrave;res-sur-seine</a>
				</li>
				<li>
				<a href="">Bois-colombes</a>
				</li>
				<li>
				<a href="">Asian</a>
				</li>
				<li>
				<a href="">Saint-Denis</a>
				</li>
				<li>
				<a href="">Clichy</a>
				</li>
				<li>
				<a href="">Vitry-Sur-Seine</a>
				</li>
				<li>
				<a href="">Ivry-Sur-Seine</a>
				</li>
				<li>
				<a href="">Villejuif</a>
				</li>
				<li>
				<a href="">Evry</a>
				</li>
				<li>
				<a href="">Maison-Alfort</a>
				</li>
			</ul>
		</div>
		<div class="announcement">
			<h2 class="title-2">Choopro Mobile</h2>
			<a href=""><img src="https://s3.amazonaws.com/img_choopro/iphone_homepage.jpg?AWSAccessKeyId=AKIAJ6SJPYWMPRYLTK3Q&Expires=1322776463&Signature=aE3HdGJV50O04fW85Yie/WUqkRc%3D&x-amz-security-token=AQEGQXBwVGtus9%2B3%2BFtZIKes2kY/P7oK6wyaSWd7mEJH9/yuj/2VXZufQhkpOiXVyASTQJr81fhBZHzsdaHmGhDStI5oNmU9H4IwSLIDK0cSao5CSGf5jxuOh5S7iyggVzNkqbeNByl91FLW3EVP01LENBbbNBE5qLNciMkIxLOqDnx1q/3Uel384oJcKhq/%2B3Fi9gnbr2HOuyHHfiBzFI5WkQ9EOHlSkXMceUIAAYXj4TNXSm8kX70//pj21q/IA2irotmdytgt1q9v19Md5P1LlmN1YkkqeZLd/xgnu3Vd9vJLz8nlKx2IKZB3p1mCO45ZKf4f5IRNwMy7YeAqUeUr9%2BQsvWheqw%3D%3D" /></a>
		</div>
		</div>
	</section>
</section><!-- /#content -->