<h2><%=h @folder.name %></h2>

<table border="1">
  
  <% for copy in @requests %>
    <tr>
      <td><%= link_to h(copy.request.subject), message_path(copy) %></td>
      <td><%= distance_of_time_in_words(copy.request.created_at, Time.now) %> ago</td>
    </tr>
  <% end %>
</table>