<section id="about-wrap" class="body ui-box">

	<div id="content-account">
		<article class="row">
			<div class="promote-header">
				<h1>Description du besoin</h1>

			</div>

		<div style="width:220px; border:3px solid #3E78B3; padding:15px;-moz-border-radius: 5px;-webkit-border-radius: 5px;" class="right">
		Le nombre de devis et d'estimation que vous recevrez d&eacute;pendra de la description que vous fournirez. Essayez de donner aux professionnels autant d'information
		que possible. Plus le projet sera d&eacute;taill&eacute; plus vous recevrez des r&eacute;ponses.</br><a href="#" data-reveal-id="myModal" data-animation="fade"> modele de posts</a>
		</div>
			<%= render 'form' %>
			
		</article>
	</div>
</section>

