<section id="about-wrap" class="body ui-box">
	<%= render 'menu_account' %>
	
	<div id="content-account">
		<article class="row">
			<div class="promote-header">
				<h1>Modifier votre profil</h1>
				<p>Ce profil sera visible par défaut par les utilisateurs du service. Vous pouvez le modifier dans vos paramètres</p>
			</div>
			
			<%= render 'form' %>
			
		</article>
	</div>
</section><!-- /#content -->
  
<%= link_to 'Show', @pro %> |
<%= link_to 'Back', pros_path %>
