<section id="about-wrap" class="body ui-box">
	<%= render 'menu_account' %>
	
	<div id="content-account">
		<article class="row">
			<div class="promote-header">
				<h1>Faite la promotion de vos services</h1>
				<h2>Allez cherchez de nouveaux clients là où ils sont</h2>
				<p>Trouverunpro vous permet de faire votre promotion sur le web, construire votre marque et attirer plus de clients. Voici des outils dont vous aurez besoin pour vous démarquer:</p>
			</div>
			<div class="promote-col">
				<h2>Construisez votre image</h2>
				<a class="get-reviews" href="/dashboard/promote-get-reviews">
					 Commentaires
					<br>
					<p>Les nouveaux clients sont 5x plus suceptibles de vous contacter si vous avez des commentaires. Invitez vos clients actuels ou passes a partager leur experiences.</p>
				</a>
				<a class="get-verified" href="/dashboard/verify-yourself">
					Vérification du compte
					<br>
					<p>Les clients veulent travailler avec des personnes de confiances. Mettez les en confiance en faisant vérifier votre compte.</p>
				</a>
				<a class="get-featured" href="/dashboard/get-featured">
					Soyez à l'honneur
					<br>
					<p>Nous aimerions mettre en lumière nos proristes de différentes manières, à travers les interview, des posts sur notre blogs, des mises à jours sur Facebook, par des tweets et bien plus encore! Faites nous connaitre ce qui vous démarquerait afin que nous le partagions avec la communauté.</p>
				</a>
				<a class="buy-domain" href="/dashboard/subscribe-domain">
					Obtenez votre nom de domaine
					<br>
					<p>Avoir un nom de domaine vous permet d'avoir votre propre adresse web (ex: www.jeandupont.com).</p>
				</a>
			</div>
			<div class="promote-col middle">
				<h2>Soyer visible</h2>
				<a class="quideal" href="/dashboard/craigslist">
					Annonce sur Quideal
					<br>
					<p>En quelque clics, postez une annonce professionnelle sur quideal.com pour attirer plus de client.</p>
				</a>
				<a class="google-places" href="http://www.google.com/places/">
					Référencer vous sur google places
					<br>
					<p>Les résulatats de Google Places sont souvent au top des recherches locales. Enregistrez votre page pour appaaître dans les résultats et avoir une meilleure exposition.</p>
				</a>
				<a class="get-reviews" href="http://betterist.wufoo.com/forms/advertise-on-betterfly/">
					Publicité sur trouverunpro
					<br>
					<p>Faire la publicité sur trouversonpro rend votre profil rapidement visible par de nouveau clients.</p>
				</a>
			</div>

			<div class="promote-col">
				<h2>Partager avec votre reseau</h2>
				<a class="email-and-share" href="/dashboard/promote/broadcast">
					Email et réseaux sociaux
					<br>
					<p>Vos contacts peuvent être un atout. Faites leur savoir ce que vous faite et partager vos services avec eux.</p>
				</a>
				<h2>Faite votre promotion</h2>
				<a class="widgets-and-buttons" href="/dashboard/widgets-and-buttons">
					Widgets &amp; Boutons
					<br>
				   <p>Intégrez un widget ou un bouton sur votre site personnel ou site de blog pour afficher les services que vous offrez et obtenez plus de trafic!</p>
				</a>
			</div>
			<div style="clear:both;"></div>
		</article>
	</div>
</section><!-- /#content -->
