<section id="about-wrap" class="body ui-box">
	<%= render 'menu_account' %>
	
	<div id="content-account">
		<article class="row">
			<div class="promote-header">
				<h1>Editer vos services</h1>
				<p>Ces services seront visibles sur votre profil.</p>
			</div>

			<%= render 'form_service' %>
			
		</article>
	</div>
</section>