	<nav id="about-sidebar">
		<ul>
			<li >
				<a href="/about/">Notre mission</a>
			</li>
			<li class="active">
				<a href="/about/team/">Comment &ccedil;a marche?</a>
			</li>
			<li>
				<a href="/about/team/">L'&eacute;quipe</a>
			</li>
			<li >
				<a href="/about/businesses/">Professionnels</a>
			</li>
			<li>
				<a href="/about/logos_photos/">Logos and Photos</a>
			</li>
			<li>
				<a href="/about/press/">La presse</a>
			</li>
			<li>
				<a href="/about/contact/">Contactez nous</a>
			</li>
			<li class="last">
				<a href="/jobs/">Emploi</a>
			</li>
		</ul>
	</nav>