<section id="about-wrap" class="body ui-box">
	<%= render 'layout_about' %>
	
	<div class="folder about-us">
		<h1>
			<span>A propos de nous</span>
			<span>&raquo;</span>
			Comment &ccedil;a marche?
		</h1>
		<h2 >Vous avez besoin qu'un travail soit fait ou qu'un service vous soit rendu. Pourquoi passer des heures &agrave; rechercher la bonne personne ou le bon professionnel? Choopro est une place de march&eacute; qui connecte les professionnels de qualit&eacute; directement avec les personnes qui en ont besoin - rend simple et rapide la recherche d'un professionnel.</h2>
		<!--
		<span class="righty">
			<img alt="" src="./img/class-create-promo.png">
		</span> -->
		<div class="clearfix"></div>
		<p>
			<h4>D&eacute;crivez votre besoin</h4>
			<p>Dites nous: </p>
			<ul>
			<li>De quel type de service vous avez besoin? (plombier, photographe, wedding planner...)</li>
			<li>Donnez une description d&eacute;taill&eacute;e du projet</li>
			<li>Pr&eacute;cisez quand et o&ugrave; vous souhaitez que le service soit rendu</li>
			<li>Indiquez les diff&eacute;rentes possibilit&eacute; de vous contacter</li>			
			</ul>
		</p>
		<p>
			<h4>Notre syst&egrave;me trouve le bon pro</h4>
			<p>Lorque nous re&ccedil;evons votre besoin d&eacute;tall&eacute;e, nous nous servons de la puissance de notre syst&egrave;me pour vous mettre en relation avec des professionnels qualifi&eacute;s.</p>
			<p>Nous: </p>
			<ul>
			<li>Trouvons des professionnels qualifi&eacute;s, approuv&eacute; Choopro</li>
			<li>V&eacute;rifions qu'ils ont souscrit au programme de qualit&eacute; Choopro</li>		
			</ul>
		</p>
		<p>
			<h4>Les professionnels vous envoient des devis</h4>
			<p>Les professionnels vous r&eacute;pondent dans un d&eacute;lai de 24h pour vous pr&eacute;senter leur exp&eacute;rience et vous donner un devis.</p>
		</p>
		<p>
			<h4>Faites votre choix &agrave; travers le site Choopro</h4>
			<p>Lorsque vous avez pris connaissance des profils et des devis des professionnels, vous &ecirc;tes pr&ecirc;t &agrave; prendre une d&eacute;cision. D&egrave;s que vous faite votre choix, le professionnel est imm&eacute;diatement inform&eacute;. Il prend contact avec vous, vous convenez d'un rendez-vous et le tour est jou&eacute;! </p>
		</p>
	</div>
</section><!-- /#content -->