<section id="about-wrap" class="body ui-box">
	<%= render 'layout_about' %>
	<div class="folder about-us">
		<h1>
			<span>A propos de nous</span>
			<span>&raquo;</span>
			l'Equipe
		</h1>

	</div>
</section><!-- /#content -->