/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
 *= require jquery-ui
*/
/* HTML5 tags */
header, section, footer,
aside, nav, article, figure {
	display: block;
}

/***** Global *****/
/* Body */
	body {
		/*background:url(../img/background_tile.jpg) repeat scroll 0 0 #F7F2DD;
		color: #5F6364;
		font-size: 87.5%; 
		font-family: 'Trebuchet MS', Trebuchet, 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
		line-height: 1.429;
		margin: 0;
		padding: 0;
		text-align: left;
		*/

		background: #fff ;/*url(../img/_bg-top.png) repeat-x top center;*/
		color: #434343;
		font: 14px/1.4em "Helvetica Neue",Arial,"Lucida Grande",sans-serif;
		-webkit-font-smoothing: antialiased;
	}

/* Headings */
h2 {font-size: 1.571em}	/* 22px */
h3 {font-size: 1.429em}	/* 20px */
h4 {font-size: 1.286em}	/* 18px */
h5 {font-size: 1.143em}	/* 16px */
h6 {font-size: 1em}	/* 14px */

h2, h3, h4, h5, h6 {
	font-weight: 400;
	line-height: 1.1;
	margin-bottom: .8em;
}
a {
    color: #55A4F2;
    text-decoration: none;
}

/* Anchors */
a {outline: 0;}
a img {border: 0px; text-decoration: none; /* border: medium none;*/}
a:link, a:visited {
    color: #55A4F2;
    text-decoration: none;
	padding: 0 1px;
}
a:hover, a:active {

	color: #fff;
	text-decoration: none;
	/*text-shadow: 1px 1px 1px #333;*/
}

/* Paragraphs */
p {margin-bottom: 1.143em;}
* p:last-child {margin-bottom: 0;}

strong, b {font-weight: bold;}
/*em, i {font-style: italic;}*/

::-moz-selection {background: #F6CF74; color: #fff;}
::selection {background: #F6CF74; color: #fff;}

/* Lists */
ul {
	list-style: outside disc;
	margin: 1em 0 1.5em 1.5em;
    list-style: none outside none;
}

ol {
	list-style: outside decimal;
	margin: 1em 0 1.5em 1.5em;
	list-style: none outside none;
}

dl {margin: 0 0 1.5em 0;}
dt {font-weight: bold;}
dd {margin-left: 1.5em;}

/* Quotes */
blockquote {font-style: italic;}
cite {}

q {}

/* Tables */
table {margin: .5em auto 1.5em auto; width: 98%;}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
	/* Thead */
	thead th {padding: .5em .4em; text-align: left;}
	thead td {}

	/* Tbody */
	tbody td {padding: .5em .4em;}
	tbody th {}

	tbody .alt td {}
	tbody .alt th {}

	/* Tfoot */
	tfoot th {}
	tfoot td {}
	
input.text, input.input-text, input.password, textarea, textarea.input-textarea, iframe.editor, select {
    background: -moz-linear-gradient(center top , #F5F5F5, #FFFFFF) repeat-x scroll center top #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 3px 3px 3px 3px;
    color: #333333;
    font-size: 13px;
    margin: 0;
    padding: 6px 5px;
}
input[type="checkbox"], input[type="radio"] {
    padding: 0;
}

button, input, select, textarea {
    font-size: 100%;
    margin: 0;
    vertical-align: baseline;
}

/***** Layout *****/
.body {clear: both; margin: 0 auto; width: 980px;}
.no-margin{margin-bottom:0;}

/*
	Header
*****************/
.container:after {
    clear: both;
    content: "";
    display: table;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 960px;
}
/*****/
#top-header{
  /*  background: url("../img/bg-top-header.png") repeat-x scroll center bottom #FFFFFF;
    border-bottom: 1px solid #CCCCCC;*/
}
#top-header {
    /*background: url("../img/bg-header-wrap.png") repeat-x scroll center bottom #FFFFFF;
    border-bottom: 1px solid #CCCCCC;*/
}
#top-header #header {
    font-family: "Helvetica Neue",Helvetica,Arial,"Liberation Sans",FreeSans,sans-serif;
    height: 60px;
}
#top-header #header #logo {
    display: inline;
    float: left;
    font-size: 0;
    margin-bottom: 0;
    margin-left: 10px;
    margin-right: 10px;
    width: 160px;
}
#top-header #header #logo a {
    display: block;
    padding: 20px 0;
}
#top-header #header #logo a span {
    -moz-box-orient: vertical;
    /*background-image: url("../img/icon-sprite.png") !important;*/
    background-position: -170px -210px;
    background-repeat: no-repeat;
    display: block;
    height: 20px;
    overflow: hidden;
    text-align: left;
    text-indent: -9999px;
    vertical-align: middle;
    width: 160px;
}
#top-header #header #menu-main {
    display: inline;
    float: left;
    list-style: none outside none;
    margin: 0;
    overflow: hidden;
    padding-left: 12px;
}
#top-header #header #menu-main li {
    border-left: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
    display: inline;
    float: left;
    height: 60px;
    overflow: hidden;
    position: relative;
    z-index: 0;
}

#top-header #header #menu-main li {
    list-style-image: none;
    list-style-type: none;
    margin-left: 0;
}
#top-header #header #menu-main li a {
    display: block;
    padding: 13px 15px;
}
#top-header #header #menu-main li a strong {
    color: #55A4F2 !important;
    display: block;
    font-size: 15px;
    font-weight: bold;
    line-height: 15px;
}
#top-header #header #menu-main li a span {
    color: #B2B2B2 !important;
    font-size: 12px;
}

#top-header #header #menu-main li#menu-main-ask {
    margin-left: -1px;
}

#top-header #header #menu-main li {
    border-left: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
    display: inline;
    float: left;
    height: 60px;
    overflow: hidden;
    position: relative;
    z-index: 0;
}

#top-header #header #menu-main li {
    list-style-image: none;
    list-style-type: none;
    margin-left: 0;
}
#top-header #header form.search {
    border-right: 1px solid #EEEEEE;
    display: inline;
    float: left;
    height: 29px;
    padding: 17px 15px 13px;
}
.field.search {
    position: relative;
}
.field.search .icon-search, .field.search .icon-loading-small {
    left: 7px;
    position: absolute;
    top: 5px;
}
.icon-search {
    -moz-box-orient: vertical;
    /*background-image: url("../img/icon-sprite.png") !important;*/
    background-position: -60px -130px;
    background-repeat: no-repeat;
    display: inline-block;
    height: 14px;
    overflow: hidden;
    vertical-align: middle;
    width: 14px;
}
#top-header #header form.search .input-search {
    width: 115px;
}

.field.search input.text {
    border-radius: 12px 12px 12px 12px;
    font-size: 12px;
    height: auto;
    outline: medium none;
    padding: 4px 28px 4px 27px;
    vertical-align: top;
    width: 225px;
}

#top-header #header #authentication {
    border: 0 none;
    display: inline;
    float: left;
    margin: 0;
    overflow: visible;
    padding: 0 0 0 8px;
}
#top-header #header #authentication li:first-child, #top-header #header #authentication li.first {
    padding-left: 0;
}

#top-header #header #authentication li {
    display: inline;
    float: left;
    list-style-image: none;
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
    padding-right: 0;
    white-space: nowrap;
}
#top-header #header #authentication #menu-sub-blog a, #top-header #header #authentication #menu-sub-help a {
    color: #999999;
    padding: 20px 8px;
}

#top-header #header #authentication a {
    display: block;
    font-size: 12px;
    line-height: 19px;
    padding: 20px 10px;
    /*text-transform: uppercase;*/
   cursor: pointer;
}

.hover{
	background-color: rgba(0,0,0,0.9);
	min-width:162px;
	
	}
.selected{
	display: none;
}
#top-header #header #authentication #dropdown-menu{
clear:both;
top:60px;
right:338px;
position: fixed;
width: 170px;
height: 100px;
z-index: 3;
background-color: rgba(0,0,0,0.9);
font-size: 12px;
-webkit-border-bottom-right-radius: 10px;
-webkit-border-bottom-left-radius: 10px;
-moz-border-radius-bottomright: 10px;
-moz-border-radius-bottomleft: 10px;
border-bottom-right-radius: 10px;
border-bottom-left-radius: 10px;
}

#top-header #header #authentication #dropdown-menu ol li{
	margin-left:7px;
padding: 5px 0 5px 0;
}

#top-header #header #authentication #dropdown-menu ol li a{
	clear:both;
padding: 1px;
}

#top-header #header #authentication #dropdown-menu ol li a:hover{
text-decoration: underline;
color: gray;
	
}
#top-header .htop{
    font-family: "Helvetica Neue",Helvetica,Arial,"Liberation Sans",FreeSans,sans-serif;
    height: 60px;
/*background: url(../img/header-bleu-bg.png) repeat scroll 0 0 #D9D4CF;
border-top:5px solid #22677F;
border-bottom:1px solid #999;*/
}

/***choice of jobs**/
#choice-jobs{
    /*background: url("/cache-fe31cc0fc/images/compass/site/bg-learn-more.png") repeat scroll center bottom #3E78B3;*/
   background:#3E78B3;
    height: 30px;
    margin-bottom: 1px;
	    border-top: 1px solid transparent;
}
#choice-jobs ul{
	    margin-top: 5px;
}

#choice-jobs li.first {
    padding-left: 0;
}

#choice-jobs li {
    display: inline;
    float: left;
    list-style-image: none;
    list-style-type: none;
    margin-left: 10px;
    padding-left: 0;
    padding-right: 0;
    white-space: nowrap;

}
#choice-jobs li a{
	color:#fff;
	font-weight:bold;
}
#choice-jobs li a:hover{
	color:#55A4F2;
}

/****
 * *****footer*****/
#contentinfo {
    width: 100%;

/*    background: none repeat scroll 0 0 #404040;
    float: left;
    min-height: 300px;*/
	float: left;

	color: #47667B;
	font-size: 12px;
	line-height: 1.0em;
	padding: 20px 0;
	/*	border-top: 1px solid #D5D5D5;
	background:#e0e0e0;*/
}
#contentinfo > div {
    padding-left: 0;
    padding-right: 0;
    /*padding-top: 5em;*/
    position: relative;

}

#contentinfo > div {
    background: none repeat scroll 0 0 transparent;
}


#contentinfo > div > ul {
    clear: both;
    display: block;
    height: 1.1em;
    margin-left: 3em;
}
#contentinfo > div > ul > li {
    float: left;
    height: 1.1em;
}
#contentinfo > div > ul > li[role="copyr"] {
    color: #808080;
    font-size: 0.9em;
    line-height: 1em;
    padding-right: 1.6em;
}
#contentinfo > div > ul > li > a {
    border-right: 0.1em solid #808080;
    color: #808080;
    display: block;
    font-size: 0.9em;
    height: 1em;
    line-height: 1em;
    margin-right: 7px;
    padding: 0 7px 0 0;
    text-transform: uppercase;
}

/***fin footer *****/


/****account style****
**********************/



#content-account {
    display: block;
    padding: 5px 5px 45px;
}
#content-account article.row {
    background-color: #FFFFFF;
    /*border-bottom: 1px solid #B6B6B6;*/
    display: block;
    padding: 25px;
    position: relative;
}

/***menu account***/


.menu-account{

height:30px;
border-bottom:1px solid #ddd;
margin-top:10px;
padding-bottom:0;
}
.menu-account ul{
position:relative;
margin:0 0 0 30px;

}
.menu-account ul li{
	background-color: #3E78B3;

float:left;
height:19px;
margin:0 2px 0 0;
padding:6px 10px 6px 10px;
}
ul li.active-menu{
margin-top:-1px;
	background-color: #fff;
	border-top:1px solid #ddd;
	border-left:1px solid #ddd;
	border-right:1px solid #ddd;
}

#about-wrap{
margin-top: 40px;
}

#about-wrap ul li.active-menu a{
color: #3E78B3;
}
.menu-account ul li a{
    -moz-transition-duration: 0.33s;
    -moz-transition-property: color;
    color: #fff;

    outline: 0 none;
    text-decoration: none;
}

.menu-account ul li a:hover{
    -moz-transition-duration: 0.33s;
    -moz-transition-property: color;
    color: #F05836;
    outline: 0 none;
    text-decoration: none;
}
/***end menu account***/

/***account topbar***/
#account-topbar{
/*background-color: #F2F2F2;/*#2C91C0;*/
background: url("http://s3.amazonaws.com/choopro/statics/bg-account-menu.png") repeat scroll center bottom #F2F2F2;
border-right:1px solid #ddd;
margin:0 15px 0 0;
padding:0;
float:left;
width:200px;
}

#account-topbar a{
    -moz-transition-duration: 0.33s;
    -moz-transition-property: color;
    color:#2C91C0;
	font-size:13px;
	font-weight:bold;
    outline: 0 none;
    text-decoration: none;
}
#account-topbar a:hover{
    -moz-transition-duration: 0.33s;
    -moz-transition-property: color;
    color: #F05836;
    outline: 0 none;
    text-decoration: none;
}

.dashboard-level1 {
    color: #A0A0A0;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: bold;
    line-height: 165%;
    padding: 8px 8px 8px 12px;
    position: relative;
}
.dashboard-level2 {
    padding-left: 2px;
    position: relative;
    width: 100%;
}
.nav-selectedarrow {
    left: 179px;
    position: absolute;
    top: 6px;
    z-index: 2;
}
/***end account topbar***/

.formElGroup {
    margin: 0 1em 1em 0;
    overflow: hidden;
}
.formEl {
    margin: 0 1em 1em 0;
    overflow: hidden;
}

.inlineblock {
    display: inline-block;
}
.formEl .label, .label_me {
    color: #999999;
    font-size: 1em;
    margin-bottom: 0.5em;
    margin-right: 2.3em;
}

.right {
    float: right;
}

.formEl input, .formEl select, .formEl textarea {
    font-size: 1.6em;
    min-width: 1em;
    padding: 0.2em;
}
.formEl input, .formEl select, .formEl textarea {
    font-size: 1.6em;
    min-width: 1em;
    padding: 0.2em;
}

.formEl input, .formEl textarea, .formEl select {
    padding: 0.2em;
}

.formEl input, .formEl textarea, .formEl select, .formEl option {
    background-color: white;
    border: 1px solid #777;
    color: #888888;
    font-size: 1em;
	
}


/***acount promote***/
#content-account {/*
    display: block;
    padding: 5px 5px 45px;
	*/
	width:745px;
	float:left;
}
#content-account article.row {
/*
    background-color: #FFFFFF;
    /*border-bottom: 1px solid #B6B6B6;
    display: block;
    padding: 25px;
    position: relative;*/
}
#content-account .row .promote-header {
    /*background: url("/static/images/dashboard/promote-icons/promote-briefcase.png") no-repeat scroll 550px 50% transparent;*/
    color: #767676;
    font-size: 14px;
    margin: 0 0 30px;
    padding: 0 250px 0 0;
}
#content-account .row .promote-header h1 {
    border: medium none;
    margin: 0;
    padding: 10px 0 0;
}

#content-account .row h1 {
    border-bottom: 1px solid #D9D7D7;
    color: #3B4853;
    font: bold 24px/39px "Helvetica Neue",Helvetica,Arial,sans-serif;
    margin: 0 0 20px;
    padding: 10px 0;
    position: relative;
}
#content-account h2 {
    color: #3B4853;
    font: bold 18px/24px "Helvetica Neue",Helvetica,Arial,sans-serif;
    margin: 0 0 10px;
    position: relative;
}
#content-account .promote-col {
    float: left;
    width: 223px;
}
#content-account  .promote-col h2 {
    font-size: 17px;
}



#content-account .promote-col a.quideal {
    background: url("../img/craigslist.png") no-repeat scroll 0 0 transparent;
}
#content-account .promote-col a.google-places {
    background: url("../img/google-places.png") no-repeat scroll 0 0 transparent;
}
#content-account .promote-col a.get-reviews {
    background: url("../img/get-reviews.png") no-repeat scroll 0 0 transparent;
}

#content-account.promote-col a.get-verified {
    background: url("../img/get-verified.png") no-repeat scroll 0 0 transparent;
}
#content-account .promote-col a.get-featured {
    background: url("../img/get-featured.png") no-repeat scroll 0 0 transparent;
}
#content-account .promote-col a.buy-domain {
    background: url("../img/promote-domain.png") no-repeat scroll 0 0 transparent;
}
#content-account .promote-col a.get-verified {
    background: url("../img/get-verified.png") no-repeat scroll 0 0 transparent;
}
#content-account .promote-col a.email-and-share {
    background: url("../img/email-and-share.png") no-repeat scroll 0 0 transparent;
}
#content-account .promote-col a.widgets-and-buttons {
    background: url("../img/widgets-and-buttons.png") no-repeat scroll 0 0 transparent;
}

#content-account .promote-col a {
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    margin: 0 0 25px;
    padding: 0 0 0 40px;
    text-decoration: none;
}

#content-account a {
    color: #2C91C0;
    text-decoration: none;
}
#content-account .promote-col p {
    color: #515151;
    font-size: 12px;
    font-weight: normal;
    margin: 10px 0 0;
}

#info_form h2 {
    color: #F05836;
    font: bold 18px/24px "Helvetica Neue",Helvetica,Arial,sans-serif;
    margin: 0 0 10px;
    position: relative;
}
#info_form .formEl .label {
    color: #4C4B4B;

}
.form-request{
	/*background: none repeat scroll 0 0 #D5E9F2;*/
	width:600px;
	padding:20px;
	border: 1px solid #E1DCC8;
		-moz-border-radius: 10px;
-webkit-border-radius: 10px;
-o-border-radius: 10px;
-ms-border-radius: 10px;
-khtml-border-radius: 10px;
border-radius: 10px;
}

.righty {
    float: right;
}
.clearfix:after {
    clear: both;
}

.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}

.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}

.clearfix {
}
.about-us .newheading {
    color: black;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: bold;
}
/******
recherche
******/
#content-search {
width:100%;
height:300px;
}

.search-list{
width:660px;
float:left;

}

.right-request-form{
width:300px;
float:right;
height:300px;
background:url("http://gowalla.com/images/web/details/photo-grid-fill.png?1318861398") repeat scroll 0 0 transparent;
}

.li-card-pro {
	display: inline;
    float: left;
    padding-right: 0;
    width: 200px;
    margin-right: 8px;
}

.pro-card-wrap {
    background: none repeat scroll 0 0 #EEEEEE;
    border-radius: 6px 6px 6px 6px;
    clear: both;
    margin-bottom: 20px;
	padding: 4px;
}

.pro-card-wrap .pro-card {
    background-position: 0 307px;
    height: 220px;
    padding: 5px;

}

.pro-card-wrap .pro-card {
    background-color: #FFFFFF;

    background-repeat: repeat-x;
    border: 1px solid #DDDDDD;
    border-radius: 6px 6px 6px 6px;
    overflow: hidden;
    position: relative;
}
.pro-card-wrap .pro-card h2 {
    font-size: 12px;
    font-weight: bold;
    line-height: 15px;
    margin-bottom: 5px;
    padding: 0 5px;
}
.pro-card-wrap .pro-card h2 strong {
    display: block;
    height: 30px;
    overflow: hidden;
}
.pro-card-wrap .pro-card h2 a {
color:#3E78B3;
}
.pro-card-wrap .pro-card h2 a:hover {
color:#F97257;
}
.pro-card-wrap .pro-card h2 span {
    color: #999999;
    display: block;
    font-size: 11px;
    font-weight: normal;
    max-height: 15px;
    overflow: hidden;
    padding-top: 2px;
}
.pro-card-wrap .pro-card p {
    color: #999999 !important;
    font-size: 12px !important;
    height: 60px;
    line-height: 15px;
    overflow: hidden;
    padding: 0 5px;
    text-overflow: ellipsis;
}

.list-profil li .location {
    background: url("http://www.authenticjobs.com/img/map-marker-light.png") no-repeat scroll 0 50% transparent;
    float: left;
    height: 16px;
    left: auto;
    max-width: none;
    overflow: visible;
    padding-left: 16px;
	margin-left:5px;
	margin-top:5px;
    position: static;
    text-align: left;
    top: auto;
    white-space: normal;
    width: 145px;
	font-size:12px;
}

.images-services{

background:url("../img/stock-photo-16760078-man-in-athletic-clothes-take-a-break.jpg") repeat scroll 0 0 transparent;
width:980px;
height:170px;

    overflow: hidden;
}
.images-services h2{
max-width:200px;
font-size:40px;
color:#fff;
 background-color: rgba(40, 39, 39, 0.7);
padding:8px;
margin-top:110px;
}

/**contant for general page***/
#about-wrap{

	margin-top: 2.5em;

}
/***** end about style****/
